.containerDiv {
    left: 50%;
    position: absolute;
    top: 10%;
    transform: translate(-50%, 0%);
}

.formTxt {
    border-radius: 15px;
    border: 0px;
    height: 30px;
    width: 500px;
    padding: 7px;
    margin: 10px;
    font-size: 20px;
    transition-duration: 0.2s; 
}

.formTxt:focus {
    height: 75px;
    font-size: 32px;
    transition-duration: 0.2s; 
}

.formSub {
    border-radius: 10px;
    border: 0px;
    height: 35px;
    width: 300px;
    padding: 5px;
    font-size: 20px;
    margin: 20px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    transition-duration: 0.2s;    
}

.formSub:hover {
    width: 400px;
    height: 60px;
    transition-duration: 0.2s;
    cursor: pointer;
    
}

h1 {
    text-align: center;
    font-size: 55px;
    text-transform: uppercase;
}

input {
    outline: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500px;
    text-align: center;
}

html,body {
    font-family: 'Open Sans', sans-serif;
}

.clock {
    font-size: 32px;
}
h2 {
    font-size: 32px;
}